*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Geneva, sans-serif;
  background-color: #aaa;
}

.container {
  width: 360px;
  height: 640px;
  background-color: #fff;
  margin: 0 auto;
}

#header {
  background-color: #FFD501;
}

#status-bar {
  opacity: 0.3;
}

#back, #header-text, #next, #recent {
  display: inline-block;
}

#back {
  width: 15%;
  float: left;
  padding: 10px;
}

#header-text {
  width: 85%;
  padding: 10px;
  font-size: 1.3em;
}

#nav-bar {
  margin-top: 8%;
}

#next, #recent {
  width: 48%;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
}

#next {
  border-bottom: 2px solid black;
}

.bus {
  display: block;
  width: 100%;
  margin: 2% 0%;
  padding: 1% 2%;
}

.next-bus {
  background-color: #C6FFB2;
}

.line {
  width: 13%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.route-info {
  width: 47%;
  margin-left: 2%;
  line-height: 1.2em;
}

.alerts-img {
  width: 10%;
}

.time-info, .reroute-info  {
  width: 25%;
  line-height: 1.2em;
}

.stops, .alerts-img  {
  width: 7%;
  padding-left: 10px;
}

.alerts-img {
  padding-left: 0px;
}

.direction, .freq, .reroute-info {
  font-size: 0.8em;
}

.line, .route-info, .time-info, .reroute-info, .stops, .alerts-img {
  display: inline-block;
  vertical-align: middle;
}

.reroute {
  background-color: #FFD0B1;
}

.out-of-service {
  background-color: #FFD8D8;
}
