*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Geneva, sans-serif;
  background-color: #aaa;
}

.container {
  width: 360px;
  height: 640px;
  background-color: #fff;
  margin: 0 auto;
}

header, nav {
  background-color: #FFD501;
}

#status-bar {
  width: 100%;
  opacity: 0.3;
}

#back {
  width: 10%;
  float: left;
  padding: 10px;
  margin-right: 0%;
}

#header-text {
  width: 75%;
  text-align: center;
  padding: 10px;
  font-size: 1.4em;
  vertical-align: middle;
}

#back, #header-text, #next, #recent {
  display: inline-block;
}

#nav-bar {
  width: 100%;
}

#next, #recent {
  margin: 20px auto 0px -35px;
  width: 45%;
  padding: 0px 0px 10px 0px;
  text-align: center;
}

#next {
  border-bottom: 2px solid black;
  margin-right: 12%;
}

.bus {
  display: block;
  margin: 10px 0px;
  padding: 0px 10px;
  height: 8%;
}

#bus1 {
  padding-top: 5px;
  background-color: #C6FFB2;
}

.reroute, .out-of-service {
  height: 6%;
}

.alerts-img {
  width: 10%;
}

.line {
  width: 13%;
  font-weight: bold;
  font-size: 1.2em;
  float: left;
  padding: 10px 0px;
  text-align: center;
}

.route-info {
  width: 47%;
  margin-left: 2%;
}

.stops {
  width: 7%;
  padding-left: 10px;
}

.destination, .direction, .time, .freq {
  display: block;
  line-height: 1.3em;
}

.line, .route-info, .time-info, .reroute-info, .stops {
  display: inline-block;
  vertical-align: middle;
}

.direction, .freq, .reroute-info {
  font-size: 0.8em;
}

.time-info {
  width: 25%;
}

#alerts-section .route-info {
  width: 47%;
}

#alerts-section .reroute-info {
  width: 20%;
  line-height: 1.2em;
}

.alerts-img {
  margin-left: 5%;
  vertical-align: middle;
}

div.reroute .line, div.reroute .route-info, div.reroute .reroute-info {
  padding: 0px;
}

.reroute .line, .out-of-service .line {
  color: red;
}
